body {
    padding:0;
    margin:0;
    font-family: 'Playfair Display', serif;
}

.app {
    height:"1500px";
    background:'cornflowerblue';
}

.bck_white {
    background: #ffffff;
}
.bck_yellow {
    background: #ffa800;
}

.iconImage {
    width: 20px;
    margin-right: 10px;
}
